body{
    background-color: rgb(203, 225, 255);
}

h1{
    color: rgb(188, 202, 255);
}

.rightContainer h1{
    color: rgb(8, 8, 255);


}

.five-day{
    margin-left: 350px;
    ;
}

.card{
    margin: 0 0 0 8px;
}

/*.jumbotron h1{
    display: flex;
    justify-content: center;
    color:rgb(212, 209, 240);
    background-color: rgb(7, 39, 221);
    align-items: center;
    font-size: 30px;
    height: 80px;
}

.search-box p{
    font-size: 20px;
    color: floralwhite;
}